@import "tailwindcss";

:root {
  --color-jasmine: #fbd37c;
  --color-coral: #ed7d4b;
  --color-prussian-blue: #24364e;
  --color-night: #14151a;
  --color-white: #ffffff;

  --background: var(--color-night);
  --foreground: var(--color-white);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-mono), monospace;
}
